main{
    margin-top: 15vw;
    
}

h2{
    display: block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3vw;
    text-align: center;
    margin: 50px 0px 0px 0px;
    font-weight: 500;
    padding-bottom: 50px;
    border-bottom: solid white 1px;

}

.producto{
    border-bottom: solid grey;
    padding: 20px 25px 0px 25px;
}

#modelo{
    font-size: calc(1em + 1vw);
    padding: 0px;
    margin: 0px;

}

.imagen{
    width: 15vw;
    padding-top: 1vw;
}

#precio{
    font-size: calc(1em + 0.2vw);
    font-weight: 500;
    font-style: italic;
}

.cantidad{
    display: flex;
    align-items: center;
}

.numeros{
    margin: 15px;
}

.botones{
    margin: 10px;
    padding: 10px;
    font-size: 2px;
}

button{
    font-size: 2vw;
    color: white;
    width: 3vw;
    height: 3vw;
    border: solid white 2px;
    background-color: black;


}

button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.dos{
    font-size: 2vw;
    text-align: center;    
    width: 3vw;
    height: 3vw;
    padding-top: 1vw;
}

.titulo{
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.trash_icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    align-self: flex-end;
}

.total{
    display: flex;
    justify-content: center;
    margin-top: 40px;    
    border: solid white 2px;
}

.ptotal{
    font-size: 2vw;
}


.cupon{
    text-align-last: center;
    margin-top: 25px;
}

.cuponB{
    width: 90%;
    border-radius: 10px;
}

.final{
    display: flex;
    place-content: space-between;
    margin-top: 30px;
}

.divFinal{
    text-align: center;
    width: 50%;
}

.botonFinal{
    width: 90%;
}

