body{
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Header */

#mobile_header{
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vw;
  width: 98vw;
  margin: 0px 2vw;
  padding: 0px 0px;  
}

#menu_icon{
  width: 5vw;
  padding: 0px 5px 0px 0px;
}

#menu_logo{
  width: 15vw;
}

#menu_user{
  width: 5vw;
}

/* Header Web */


#web_header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#top{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40px;
  padding: 0px;
  border-bottom: solid 1px white;
}


#login{
  width: 41vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  justify-self: flex-start;
}

#login a{
  color: white;
  font-size: 0.6em;
}

#buscar{
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  background-color: #252525;
  border-radius: 10px;
  height: 20px;
}

#buscar input{
  color: gray;
  background: transparent;
  border: none;
}

#buscar input:focus{
  color: gray;
  background: transparent;
  border: transparent;
  outline: none;  
}

#carrito{
  width: 41vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  font-style: italic; 
  font-size: 0.8em;
}

#logo_art{
  display: flex;
  width: 100vw;
  padding: 20px 0px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px white;
}

#menu_logo_web{
  width: 13vw;

}

#web_menu{    
  background-color: rgba(0,0,0,0.6);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;    
  padding: 10px 0px;
  width: 100vw;
  border-bottom: solid 1px white;
}

#web_menu a{
  color: white;
  padding: 0px 3vw;
  opacity: 100%;
  font-weight: 700;
  font-size: 0.8em;
}

/* Main */

#home_img{
  width: 100vw;
}


/* Destacados */

#destacados{
  border-bottom: solid white 5px;
  border-top: solid white 5px;
  display: block;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 60px;
  text-align: center;
  margin: 50px 0px 30px 0px;
}

.producto{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  align-self: center;
  padding: 40px;
}

a{
  text-decoration: none;
}

#imagen{
  width: 50vw;
}

#imagen:hover{
  opacity: 60%;
  transition-duration: 1s;
}

#modelo{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: calc(1em + 3vw);
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  padding: 8px 0px;
}

#precio{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: white;
  text-decoration: none;
}

footer{
  background-color: #272727;
}







/* Responsive */

@media (min-width: 700px){
  #web_header{ 
      display: flex;
  }

  #mobile_header{
      display: none;
  }
  
  #home_img{
    display: none;
  }
}

@media (max-width: 700px){
  #web_header{ 
      display: none;
  }

  #mobile_header{
      display: flex;
  }

}



