body{
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Header */

header{
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 0px 25px;  
}

#menu_icon{
  width: 60px;
}

#menu_logo{
  width: 200px;
}

#menu_user{
  width: 75px;
}

/* Main */

#home_img{
  width: 100vw;
}


/* Destacados */

#destacados{
  border-bottom: solid white 5px;
  border-top: solid white 5px;
  display: block;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 60px;
  text-align: center;
  margin: 50px 0px 30px 0px;
}

.producto{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  align-self: center;
  padding: 40px;
}

#imagen{
  width: 50vw;
}

#imagen:hover{
  opacity: 60%;
}

#modelo{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: calc(1em + 3vw);
  text-transform: capitalize;
  text-align: center;
  padding: 8px 0px;
}

#precio{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
}




/* Responsive */

@media(max-width: 425px){
}


