<footer>
    <div class="instagram">
        <img id = "insta_icon" src="/images/icons/Instagram.png">
        <p class="instagramP">BROKENYTH</p>
    </div>
        
    <div class="segundo_div">
        <p>BROKEN YOUTH <img src="/images/icons/Cc.png"> 2020</p>
        <p>For the broken ones</p>
    </div>

    <div class="tercer_div">
        <p>CONTACTO</p>
        <p>brokenyouth.sw@gmail.com</p>
    </div>

</footer>