    <header>
        <div> <img class="header" id="menu_icon" src="images/icons/menu.png"> </div>
        <div> <img class="header" id="menu_logo" src="images/logo.png"> </div>
        <div> <img class="header" id="menu_user" src="images/icons/user.png"> </div>
    </header>
