<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head.ejs')%>    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/carrito.css' />
  </head>
  <body>
        <%- include('./partials/header.ejs')%>  

        <h2>TU CARRITO</h2>

        <main>
            <section class="producto">                
                <div class="titulo"><p id = "modelo">ILLICIT</p><i id="trash_icon" class="fa fa-trash fa-lg"></i></div>
                <div class="cantidad">
                    <img class="imagen" src="/images/producto/illicit_main.jpg">
                    <div class="numeros"></div>
                    <div class="botones"><button type="text">-</button></div>
                    <div class="dos">2</div>
                    <div class="botones"><button type="text">+</button></div>
                </div>
                <p>$2500</p>
            </section>
            

            <section class="producto">                
                <div class="titulo"><p id = "modelo">INHERITANCE</p><img class= "basura" src="images/trash.png"></div>
                 <div class="cantidad">
                    <img class="imagen" src="/images/producto/inheritance_main.png">
                    <div class="numeros"></div>
                    <div class="botones"><button type="text">-</button></div>
                    <div class="dos">2</div>
                    <div class="botones"><button type="text">+</button></div>
                </div>
                <p>$2000</p>
            </section>
            

            <section class ="producto">                
                <div class="titulo"><p id = "modelo">TIME IS $</p><img class= "basura"src="images/trash.png"></div>
                <div class="cantidad">
                    <img class="imagen" src="/images/producto/time_main.png">
                    <div class="numeros"></div>
                    <div class="botones"><button type="text">-</button></div>
                    <div class="dos">2</div>
                    <div class="botones"><button type="text">+</button></div>
                </div>
                <p>$2700</p>
            </section>

            <div class="total">
                <div class="ptotal">TOTAL</div>
                <div class="ptotal"> $XXXXXXXX</div>
            </div>

            <div class="cupon"><button type="text" class="cuponB">¿Tenes cupon de descuento?</button></div>

            <div class="final">
                <div class="divFinal"><button type="text" class="botonFinal">CONTINUAR COMPRANDO</button></div>
                <div class="divFinal"><button type="text" class="botonFinal">FINALIZAR COMPRA</button></div>
            </div>

        </main>
  </body>
</html>
