<!DOCTYPE html>
<html>
  <head>
    <title>Broken Youth | Home</title>
    <%- include('./partials/head.ejs')%>     
  </head>
  <body>
    <%- include('./partials/header.ejs')%>

    <main>
      <div> <img id="home_img" src="/images/home_img.jpg"> </div>
      <section id="carrusel"> <!--
        <div><img class='carrusel_img' src="/images/index_carrusel/carrusel3.png"></div>
        <div><img class='carrusel_img' src="/images/index_carrusel/carrusel2.png"></div> -->
        <div><img class='carrusel_img' src="/images/index_carrusel/carrusel1.png"></div>
      </section>
    </main>

    <div id = "destacados"> PRODUCTOS DESTACADOS </div>
    <section>
      <a href = "/product/detalleProducto" class = "producto">
        <div>
          <img id = "imagen" src="/images/producto/inheritance_main.png">
        </div>
        <div id = "modelo">INHERITANCE</div>
        <div id = "precio">$2000</div>
      </a>

      <a href = "/product/detalleProducto" class = "producto">
        <div>
          <img id = "imagen" src="/images/producto/illicit_main.jpg">
        </div>
        <div id = "modelo">ILLICIT</div>
        <div id = "precio">$2500</div>
      </a>

      <a href = "/product/detalleProducto" class = "producto">
        <div>
          <img id = "imagen" src="/images/producto/inter_main.jpg">
        </div>
        <div id = "modelo">INTERFERENCIA <br> COMUNICATIVA</div>
        <div id = "precio">$2200</div>
      </a>
      
      <a href = "/product/detalleProducto" class = "producto">
        <div>
          <img id = "imagen" src="/images/producto/time_main.png">
        </div>
        <div id = "modelo">TIME IS $</div>
        <div id = "precio">$2700</div>
      </a>
    </section>

    <%- include("./partials/footer") %>

  </body> 
</html>
