<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />  
  </head>
  <body>

    <%- include('./partials/header.ejs')%>

    <main>
      <div> <img id="home_img" src="images/home_img.jpg"> </div>
    </main>

    <div id = "destacados"> PRODUCTOS DESTACADOS </div>
    <article class = "producto">
      <div>
        <img id = "imagen" src="images/producto/inheritance_main.png">
      </div>
      <div id = "modelo"><INHERITANCE></div>
      <div id = "precio">$2000</div>
    </article>

    <article class = "producto">
      <div>
        <img id = "imagen" src="images/producto/illicit_main.jpg">
      </div>
      <div id = "modelo">ILLICIT</div>
      <div id = "precio">$2500</div>
    </article>

    <article class = "producto">
      <div>
        <img id = "imagen" src="images/producto/inter_main.jpg">
      </div>
      <div id = "modelo">INTERFERENCIA <br> COMUNICATIVA</div>
      <div id = "precio">$2200</div>
    </article>
    
    <article class = "producto">
      <div>
        <img id = "imagen" src="images/producto/time_main.png">
      </div>
      <div id = "modelo">TIME IS $</div>
      <div id = "precio">$2700</div>
    </article>
    
  </body>
</html>
