<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head.ejs')%>
    <link rel='stylesheet' href='/stylesheets/product.css' />
  </head>
  <body>

    <%- include('./partials/header.ejs')%>
    
    <main>

        <section id="prod_img">

            <article>
                <img id="prod_main" src="/images/producto/inheritance_main.png">
            </article>

            <article id="prod_sub">

                <div> <img class="prod_sub" src="/images/producto/inheritance_sub1.png"> </div>
                <div> <img class="prod_sub" src="/images/producto/inheritance_sub2.png"> </div>
                <div> <img class="prod_sub" src="/images/producto/inheritance_sub3.png"> </div>
                <div> <img class="prod_sub" src="/images/producto/inheritance_sub4.png"> </div>

            </article>

        </section>

       <section id="info">

            <article>

                <div id="prod_name"> Inheritance</div>
                <div id="prod_precio">$2000</div>

            </article>

            <article  id="select_talle">

                <div class="elegir_talle">
                    <div id="talles">TALLES:</div><br>
                    <div class="talles">1</div>
                    <div class="talles">2</div>
                </div>

                <div id="agregar_talle">AGREGAR</div>
                
            </article>

            <article id="descripcion">

                <div id="descrip_titulo">DESCRIPCIÓN</div>
                <div id="descrip_content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae similique facilis, voluptatibus eius laudantium ab est asperiores blanditiis alias minima suscipit et, voluptate nulla? Ad harum dolores deleniti officiis rerum?</div>
    
            </article>

        </section>

    </main>

    <%- include("./partials/footer") %>

  </body>
<html>