<!DOCTYPE html>
<html>
  <head>
    <title>Broken Youth | Sobre Nosotros</title>
    <%- include('./partials/head.ejs')%>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

    <body>
        <%- include("./partials/header") %>

        <main id="quienes-somos-main">
            <div id = "destacados"> SOBRE NOSOTROS </div>
            <article>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, ipsam perspiciatis perferendis amet sed facere harum animi aliquid magni odio laboriosam illum, aliquam eveniet commodi distinctio esse pariatur, sequi vel!</p>
            </article> 
        </main>
        

        <%- include("./partials/footer") %>

    </body>
</html>