<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head.ejs')%>
    <link rel='stylesheet' href='/stylesheets/register.css' />
  </head>

<body>
    <%- include("./partials/header") %>


    <form class="formulario">

        <h1>REGISTRATE</h1>
        <div class="contenedor">

            <div class="input-contenedor">
                <i class="fal fa-user icon"></i>
                <input type="text" placeholder="NOMBRE">   
            </div>

            <div class="input-contenedor">
                <i class="far fa-envelope icon"></i>
                <input type="text" placeholder="E-MAIL">   
            </div>

            <div class="input-contenedor">
                    <i class="fal fa-phone-alt icon"></i>
                    <input type="text" placeholder="TELÉFONO (OPCIONAL)">   
                </div>

            <div class="input-contenedor">
                <i class="far fa-unlock-alt icon"></i>
                <input type="password" placeholder="CONTRASEÑA">   
            </div>

            <div class="input-contenedor">
                    <i class="far fa-unlock-alt icon"></i>
                    <input type="password" placeholder="CONFIRMAR CONTRASEÑA">   
            </div>

            <input type="submit" value="REGISTRARSE" class="buttom">
            <p>Al registrarse, acepta nuestras Condiciones de Uso y
                Política de Privacidad.
            </p>
            <p>¿Ya tienes una cuenta? <a class="link" href="login" >INICIAR SESIÓN</a></p>

        </div>
    </form>
</body>
</html>