<!DOCTYPE html>
<html>
  <head>
    <title>Broken Youth | Vista de Producto</title>    
    <%- include('./partials/head.ejs')%>
    <link rel='stylesheet' href='/stylesheets/vistaProductos.css' />


  </head>

  <body>
    <%- include('./partials/header.ejs')%>
    <section class="vista">
      
      <div class="producto">
        <img id = "imagen" src="/images/producto/buzotimeismoneydetras1.jpg">
        <section id="info">  
          <div id="nombreproduc"> BUZO TIME IS MONEY</div>
          <div id="precioproduc">$2000</div>
        </section>
      </div>


      <div class="producto">
        <img id = "imagen" src="/images/producto/buzolobodetras1.jpg">
        <section id="info">   
              <div id="nombreproduc"> BUZO LOBO</div>
              <div id="precioproduc">$2000</div>
        </section>
      </div>
      
      <div class="producto">
        <img id = "imagen" src="/images/producto/illicit_main.jpg">
        <section id="info">   
              <div id="nombreproduc"> REMERA ILLICIT</div>
              <div id="precioproduc">$2000</div>
          </section>
      </div>

      <div class="producto">
        <img id = "imagen" src="/images/producto/juguitoremedetras2.jpg">
        <section id="info">   
              <div id="nombreproduc"> REMERA JUGUITO</div>
              <div id="precioproduc">$2000</div>
          </section>
      </div>

    </section>

    <section class="vista2">

      <div class="producto">
        <img id = "imagen" src="/images/producto/buzo2.jpeg">
        <section id="info">    
              <div id="nombreproduc"> BUZO BOY</div>
              <div id="precioproduc">$2000</div>
          </section>
      </div>

      <div class="producto">
        <img id = "imagen" src="/images/producto/buzo4.jpeg">
        <section id="info">   
              <div id="nombreproduc"> BUZO GRANDMA</div>
              <div id="precioproduc">$2000</div>
          </section>
      </div>

      <div class="producto">
        <img id = "imagen" src="/images/producto/buzo1.jpeg">
        <section id="info">   
              <div id="nombreproduc"> BUZO OUTSIDER</div>
              <div id="precioproduc">$2000</div>
          </section>
      </div>

      <div class="producto">
        <img id = "imagen" src="/images/producto/5.jpeg">
        <section id="info">   
              <div id="nombreproduc"> BUZO DOMINANT</div>
              <div id="precioproduc">$2000</div>
          </section>
      </div>


    </section>

    <%- include("./partials/footer") %>

  </body>





</html>
